name: OpenInv CI

on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - '**'
    paths-ignore:
      - resource-pack/openinv-legibility-pack/**
  # Enable running CI via other Actions, i.e. for drafting releases and handling PRs.
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      # We can't use 'maven' prebuilt cache setup because it requires that the project have a pom file.
      # BuildTools installs to Maven local if available, so it's easier to just rely on that.
      - name: Cache Spigot dependency
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository/org/spigotmc/spigot
            ~/.m2/repository/org/spigotmc/minecraft-server
          key: ${{ runner.os }}-buildtools-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-buildtools-

      - uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew clean build

      # Upload artifacts
      - name: Upload Distributable Jar
        id: upload-final
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist/*
